* {
    margin: 0pt;
}
body {
    /* color: #502A83; */
    color: #000000;
    margin: 16pt;
    font-size: 12pt;
    line-height: 1.3;
    font-family: "IBM Plex Sans";
    text-align: justify;
}
div {
    margin-bottom: 6pt;
}
p {
    margin-bottom: 5pt;
    orphans: 2;
    widows: 2;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 14pt;
    line-height: 1.4;
    page-break-after: avoid;
    text-align: left;
}
h1 {
    color: #000;
    font-size: 18pt;
    font-family: Varna;
    margin-bottom: 2pt;
}
h2 {
    font-size: 14pt;
    font-family: Varna;
    margin-top: 8pt;
}
h3 {
    margin-top: 10pt;
}
h3, h4 {
    text-transform:uppercase;
    font-size: 12pt; 
    line-height: 2;
}
a:link {
    color: #000;
}
th, td {
    padding: 3pt;
    padding-bottom: .5pt;
    padding-top: .5pt;
    text-align: left;
    vertical-align: top;
    border-bottom: .3pt dashed #000;
}
th {
    color: #000;
    /* background: #f2eaff; */
    background: #fff;
    /* background: #502A83; */
    border-bottom: 1pt solid #000;
}
tr:nth-child(even) {background: #fff}
tr:nth-child(odd) {background: #FFF}
table {
    width: 100%;
    border: 0pt;
    border-collapse: collapse;
    /* margin-left: auto; */
    /* margin-right: auto; */
}
figure {
    margin-bottom: 6pt;
}
ol {
    margin-left: 12pt;
    text-align: left;
}
ol {
    counter-increment: start 2;
}
ol p {
    margin-bottom: 0pt;
}
li {
    margin-bottom: 3pt;
    page-break-inside: avoid;
}
ul li {
    list-style: none;
}
::marker {
    font-family: "IBM Plex Sans Condensed";
    font-weight: 700;
    text-align: right;
    width: 8pt;
    /* color: #502A83; */
}
img {
}
.twocol {
    column-count: 2;
    column-gap: 6pt;
}
.impurpled {
    color: #000;
}
.named {
    color: #000;
    /* color: #502A83; */
    /* font-family: "IBM Plex Sans Condensed"; */
    /* color: #502A83; */
    font-style: italic;
    font-weight: 500;
}
.section {
}
@page {
    size: A4;
    /*18pt for letter*/
    margin: 28pt;
    /*24pt for letter*/
    margin-top: 32pt;
    /*28pt for letter*/
    margin-bottom: 40pt;
}
@page :left{
    margin-right: 60pt;
    /*     @bottom-left { */
    /*         font-family: Varna; */
    /*         content: counter(page); */
    /*         text-align: left; */
    /*         color: #502A83; */
    /*     } */
}
@page :right{
    margin-left: 60pt;
    /*     @right-bottom { */
    /*         font-family: Varna; */
    /*         content: counter(page); */
    /*         text-align: right; */
    /*         color: #502A83; */
    /*     } */
}
@page :first{
    /* margin: 0pt; */
    bleed: .25in;
}
#front {
    position: absolute;
    left: -2.8in;
    top: -1.25in;
}
#back {
    position: absolute;
    left: 3.6in;
    top: -1.25in;
}
#gothic {
    font-family: Varna;
    font-size: 14pt;
    line-height: 1.3;
    margin: 45pt;
    /* For A5: */
    margin-right: 55pt;
    /* margin-left: 48pt; */
    /* End */
    margin-top: 45pt;
    page-break-after: always;
    page-break-before: always;
}
#gothic p {
    margin-bottom: 4pt;
    /* display: inline; */
}
#gothic h1 {
    /* color: #502A83; */
    text-align: center;
    margin-bottom: 10pt;
}
#backtext {
    position: absolute;
    font-family: Varna;
    font-size: 14pt;
    line-height: 1.3;
    margin: 48pt;
    margin-right: 40pt;
    margin-left: 40pt;
}
.blank {
    /* page-break-before: always; */
    page-break-after: always;
}
#fangs {
    width: 6.5in;
    left: -.4in;
    top: .75in;
    position: absolute;
}
#fangsdiv {
    /* border: 1px dotted cyan; */
    height: 1in;
    position: relative;
    top: -.7in;
    page-break-before: avoid;
    page-break-after: always;
}
#contents {
    /* font-family: Varna; */
    /* page-break-before: always; */
    /* page-break-after: always; */
}
#mapscan {
    width: 7.0in;
    left: -.0in;
    top: .0in;
    position: absolute;
}
#mapscandiv {
    /* border: 1px dotted cyan; */
    height: 1in;
    position: relative;
    page-break-before: avoid;
    page-break-after: always;
}
#ratdiv {
    /* border: 1px dotted cyan; */
    height: 1in;
    position: relative;
    page-break-before: avoid;
    page-break-after: always;
}
#rat {
    width: 100%;
    height: auto;
    left: -2.5in;
    top: -2.4in;
    position: absolute;
}
#ratsplat {
    left: -1in;
    top: -2in;
    position: absolute;
}
#ratsplat2 {
    left: -7.9in;
    top: 1.60in;
    position: absolute;
}
#propername {
    position: relative;
    page-break-before: avoid;
    page-break-after: always;
}
#skull_island {
    position: absolute;
}
.imagediv {
    position: relative;
    page-break-before: avoid;
    /* background-color: pink; */
}
#howler {
}
#displacer {
    position: absolute;
    height: 8in;
    width: auto;
    left: 1.1in;
    top: 3.5in;
}
#backsplat {
}
#homes {
    position: absolute;
    width: 4.4in;
    height: auto;
    left: 1.0in;
    top: .0in;
}
div .beastcaption {
    position: absolute;
    color: white;
    font-weight: 600;
    padding: 8pt;
    background: #000;
    font-size: 80%;
    background-blend-mode: multiply;
}
div .beastheadline {
    font-family: Varna;
    font-size: 12pt;
    position: absolute;
    color: white;
    padding: 8pt;
    background: #000;
}
.pagebefore {
    page-break-before: always;
}
.dots-1 {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMCcgaGVpZ2h0PScxMCc+CiAgPHJlY3Qgd2lkdGg9JzEwJyBoZWlnaHQ9JzEwJyBmaWxsPSd3aGl0ZScgLz4KICA8cmVjdCB4PScwJyB5PScwJyB3aWR0aD0nMScgaGVpZ2h0PScxJyBmaWxsPSdibGFjaycgLz4KPC9zdmc+"); 
    background-repeat: repeat;
    border: 1pt;
    height: 2in;
    text-align: center;
    color: pink;
}
.colorback {
    background: #ff69b4;
    position: absolute;
    width: 6.9in;
    left: -1in;
    top: -.5in;
    height: 9in;
}
.content {
    position: relative;
}
