* {
    margin: 0pt;
}
body {
    /* color: #000000; */
    color: #000000;
    margin: 12pt;
    font-size: 10pt;
    line-height: 1.3;
    font-family: "IBM Plex Sans";
    text-align: justify;
}
div {
    margin-bottom: 6pt;
}
p {
    margin-bottom: 6pt;
    orphans: 2;
    widows: 2;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 14pt;
    line-height: 1.4;
    page-break-after: avoid;
    text-align: left;
}
h1 {
    color: #000000;
    font-size: 24pt;
    font-family: Varna;
    margin-bottom: 12pt;
    text-align: center;
}
h2 {
    font-size: 14pt;
    font-family: Varna;
    margin-top: 8pt;
}
h3 {
    font-size: 10pt;
    /* font-weight: 500; */
    text-transform:uppercase;
    margin-top: 12pt;
}
h4 {
    text-transform:uppercase;
    font-size: 14pt; 
    /* line-height: 2; */
}
a:link {
    color: #000000;
}
th, td {
    padding: 3pt;
    padding-bottom: 1pt;
    padding-top: 1pt;
    text-align: left;
    vertical-align: top;
    /* border-bottom: .3pt solid #00000033; */
}
th {
    color: #000000;
    /* background: #f2eaff; */
    background: #fff;
    /* background: #000000; */
    border-bottom: 1.5pt solid #000000;
}
/* tr:nth-child(even) {background: #f2eaff} */
tr {
border-bottom: 1pt solid #cccccc;
}
table {
    width: 100%;
    border: 0pt;
    border-collapse: collapse;
    /* margin-left: auto; */
    /* margin-right: auto; */
}
figure {
    margin-bottom: 6pt;
}
ol {
    margin-left: 12pt;
    text-align: left;
}
ol {
    counter-increment: start 2;
}
ol p {
    margin-bottom: 0pt;
}
li {
    margin-bottom: 3pt;
    page-break-inside: avoid;
}
ul li {
    list-style: none;
}
::marker {
    font-family: "IBM Plex Sans Condensed";
    font-weight: 700;
    text-align: right;
    width: 7pt;
    /* color: #000000; */
}
img {
}
.twocol {
    column-count: 2;
    column-gap: .25in;
}
.impurpled {
    color: #000000;
}
.named {
    color: #000000;
        /* font-family: "IBM Plex Sans Condensed"; */
        /* color: #000000; */
        font-style: italic;
        font-weight: 600;
}
.section {
}
@page {
    size: 8.75in 11.25in;
    /* size: A5; */
    margin: .5in;
    margin-bottom: .75in;
}
@page :left{
    margin-right: .75in;
    @bottom {
        font-family: Varna;
        font-size: 14pt;
        content: counter(page);
        text-align: left;
        color: #000000;
    }
    background-image: url(template_left.svg);
}
@page :right{
    margin-left: .75in;
    @bottom {
        font-family: Varna;
        font-size: 14pt;
        content: counter(page);
        text-align: right;
        /* vertical-align: top; */
        color: #000000;
    }
    background-image: url(template.svg);
}
@page :first{
    /* margin: 0pt; */
    bleed: .25in;
}
.template {
    position: absolute;
    left: -.75in;
    top: -.5in;
}
#front {
    /* width: 17.5in;  */
    height: 11.5in;
    position: absolute;
    left: -10in;
    top: -.5in;
}
/* #back { */
    /* position: relative; */
    /* left: 3.05in; */
    /* top: -1.25in; */
/* } */
#gothic {
    font-family: Varna;
    font-size: 14pt;
    line-height: 1.6;
    margin: 95pt;
    margin-left: 75pt;
    /* For A5: */
    /* margin-left: 48pt; */
    /* End */
    /* margin-top: 45pt; */
    page-break-after: always;
    page-break-before: always;
}
#gothic p {
    margin-bottom: 4pt;
    /* display: inline; */
}
#gothic h1 {
    /* color: #000000; */
    text-align: center;
    margin-bottom: 10pt;
}
#backtext {
font-family: Varna;
font-size: 14pt;
line-height: 1.3;
margin: 48pt;
margin-right: 40pt;
margin-left: 40pt;
 }
.blank {
    /* page-break-before: always; */
    page-break-after: always;
}
/* #fangs { */
/*     width: 6.5in; */
/*     left: -.4in; */
/*     top: .35in; */
/*     position: absolute; */
/* } */
/* #fangsdiv { */
/*     /\* border: 1px dotted cyan; *\/ */
/*     height: 1in; */
/*     position: relative; */
/*     top: -.7in; */
/*     page-break-before: avoid; */
/*     page-break-after: always; */
/* } */
#contents {
    /* font-family: Varna; */
    /* page-break-before: always; */
    /* page-break-after: always; */
}
/* #mapscan { */
/*     width: 5.6in; */
/*     left: -.3in; */
/*     top: 0in; */
/*     position: absolute; */
/* } */
/* #mapscandiv { */
/*     /\* border: 1px dotted cyan; *\/ */
/*     height: 1in; */
/*     position: relative; */
/*     page-break-before: avoid; */
/*     page-break-after: always; */
/* } */
/* #ratdiv { */
/*     /\* border: 1px dotted cyan; *\/ */
/*     height: 1in; */
/*     position: relative; */
/*     page-break-before: avoid; */
/*     page-break-after: always; */
/* } */
/* #rat { */
/*     width: 160%; */
/*     height: auto; */
/*     left: -2.5in; */
/*     top: -2.7in; */
/*     position: absolute; */
/* } */
/* #ratsplat { */
/*     left: -2.6in; */
/*     top: -2in; */
/*     position: absolute; */
/* } */
/* #ratsplat2 { */
/*     left: -7.9in; */
/*     top: 1.60in; */
/*     position: absolute; */
/* } */
#propername {
    position: relative;
    page-break-before: avoid;
    page-break-after: always;
}
/* #skull_island { */
/*     position: absolute; */
/* } */
/* .imagediv { */
/*     position: relative; */
/*     page-break-before: avoid; */
/*     /\* background-color: pink; *\/ */
/* } */
/* #displacer { */
/*     position: absolute; */
/*     height: 8in; */
/*     width: auto; */
/*     left: 1.1in; */
/*     top: 3.5in; */
/* } */
/* #backsplat { */
/* } */
/* #homes { */
/*     position: absolute; */
/*     width: 4.4in; */
/*     height: auto; */
/*     left: -0.0in; */
/*     top: -.25in; */
/* } */
div .beastcaption {
    position: absolute;
    color: white;
    font-weight: 600;
    padding: 8pt;
    background: #000000;
    font-size: 90%;
    background-blend-mode: multiply;
}
div .beastheadline {
    font-family: Varna;
    font-size: 16pt;
    position: absolute;
    color: white;
    padding: 8pt;
    background: #000000;
}
.pagebefore {
    page-break-before: always;
}
.dots-1 {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMCcgaGVpZ2h0PScxMCc+CiAgPHJlY3Qgd2lkdGg9JzEwJyBoZWlnaHQ9JzEwJyBmaWxsPSd3aGl0ZScgLz4KICA8cmVjdCB4PScwJyB5PScwJyB3aWR0aD0nMScgaGVpZ2h0PScxJyBmaWxsPSdibGFjaycgLz4KPC9zdmc+"); 
    background-repeat: repeat;
    border: 1pt;
    height: 2in;
    text-align: center;
    color: pink;
}
